h5{
    font-weight: 700 !important;
    font-size: 1rem !important;
}
h4{
    font-weight: 700 !important;
    font-size: 1.1rem !important
}
h2{
    font-size: 2rem !important;
    font-weight: bolder !important;
    font-family: 'Geargia' !important;
}
.card{
    box-shadow: 0 0 5px 0 rgba(22, 22, 26, .25);
}
.moreIcon{
    color:rgb(75, 101, 187);
    cursor:pointer;
}
.container{
    margin:20px 0px 50px 0px;
}
html{
    scroll-behavior:smooth
}
.formDiv{
    background: #EEEEEE;
    padding:25px 40px !important;
}
.formSection{
    margin:35px 0px;
}
.switchLink{
    color:rgb(75, 101, 187);
    text-decoration: underline;
    cursor:pointer;
    float: right; 
}
.clickLink{
    color:rgb(75, 101, 187);
    text-decoration: underline;
    cursor:pointer;
}
.clickable{
    cursor:pointer;
}